.App {
  text-align: center;
  background-color: #bbc2d1;
  height: 100vh;
}
.todo h4{
  margin-top:0px;
}
.delete{
  display: flex;
  align-items: center;
  justify-content: center;
}
.delete p{
  margin-right: 20px;
}
